html {
  font-size: 62.5%;
}

* > * {
  box-sizing: border-box;
}

body {
  background-color: azure;
}

#ui-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.add-btn {
  height: 3rem;
  width: 3rem;
}

.timer-panel {
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  background-color: blue;
}
